.view-body{
width: 1080px;
margin: 0 auto;
}
.view-area{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.view-category{
    
}
.view-area-box{
    width: 800px;
    padding: 29px 29px 0;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    margin: 0 auto;
}
.view-box{
    margin: 0 auto;
    width: 800px;
}
.view-info{
    width: 800px;
    margin: 0 auto;
}
.view-title{
    font-size: 28px;
    padding-bottom: 6px;
}

.view-textarea{
    width: 800px;
    resize: none;
    border: none;
    white-space: pre-wrap;
}
.view-category{
    color: #666666;
    width: 800px;
}
.view-writer{
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.view-user{
    font-size: 13px;
}
.view-datetime{
    color: #666666;
    font-size: 12px;
}
.view-viewcnt{
    font-size: 12px;
    color: #666666;
}
.view-btn {
    width: 400px;   
}
.view-heart-viewcnt{
    display: flex;
}

.heart-viewcnt{
    font-size: 14px;
    padding-right: 5px;
    padding-top: 20px;
    color: #666666;
}
.like-click{
    padding-right: 5px;
    padding-top: 20px;
}
.view-button{
    border: none;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    margin-top: 20px;
}